<html>
    <body>
        <form method="post">
            {%csrf_token%}
            <div style="margin-left: 35pc">
                <h2>Delete Book</h2>
                <h3>{{object.title}} by {{object.author}}</h3>
                <p>Are you sure you want to delete this Book?</p>
                <input type="submit" value="Confirm" style="color: red;">
                <a href="{%url 'list_books'%}"><input type="button" value="Cancel"></a>
            </div>
        </form>
    </body>
</html>