<html>
    <body>
        {%load static%}
        <!--Added a sub-folder css so now I have to reference it here-->
        <link rel="stylesheet" href="{% static 'css/get-book.css'%}"> 

        <h2><strong>Book</strong></h2>

        <div class="image-container">
            <!--Add: filter gets the image from a sub-folder within the static folder-->
            <img src="{% static 'images/'|add:object.coverimg %}" alt="Front image of a book cover for {{object.title}}.">
        </div>

        <div class="details-container">
            <div class="title-container">
                <span>Title:</span>
                <span class="title-value">{{object.title}}</span>
            </div>
            <div class="author-container">
                <span>Author:</span>
                <span class="author-value">{{object.author}}</span>
            </div>
            <div class="price-container">
                <span>Price:</span>
                <span class="price-value">{{object.price}}</span>
            </div>
            <div class="publisher-container">
                <span>Publisher:</span>
                <span class="publisher-value">{{object.publisher}}</span>
            </div>

            {%if object.ebook%}
            <p class="boook-true">Available as Ebook</p>
            {%else%}
            <p class="book-false">Not available as Ebook</p>
            {%endif%}
        </div>
        
    </body>
</html>