<html>
<head>
    {%load static%}
    <link rel="stylesheet" type="text/css" href="{% static 'list_books.css'%}">
</head>
<body>

    <div class="container">
        <h1>Mireri's BookShelf</h1>
        
        <div class="action-button">
            <a href="{% url 'add_book' %}" class="btn btn-add">Add New</a>
        </div>

        <div class="table-responsive">
            <table>
                <thead>
                    <tr>
                        <th>TITLE</th>
                        <th>AUTHOR</th>
                        <th>PRICE</th>
                        <th>DETAILS</th>
                        <th>UPDATE</th>
                        <th>DELETE</th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in books %}
                    <tr>
                        <td><strong>{{ book.title }}</strong></td>
                        <td>{{ book.author }}</td>
                        <td>${{ book.price }}</td>
                        <td><a href="{% url 'list_book' book.id %}" class="btn btn-detail">Detail</a></td>
                        <td><a href="{% url 'update_book' book.id %}" class="btn btn-update">Update</a></td>
                        <td><a href="{% url 'delete_book' book.author %}" class="btn btn-delete">Delete</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>